.react-bs-table thead .columHeight{
	background:#f5f8fa;	
	border-bottom: 0;
	height: 34px;
  padding: 0px 10px;
	color:#7f8fa4;
	font-size:13px;
	padding:0px 5px;
	border-right:0px;
	
}

.columBorder{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right:0px !important;
	border-left:0px !important;
    padding-left:30px;
	}
	
  .td:first-child{padding-left:10px !important;  padding-right:10px !important; }
    
.react-bs-table table td{overflow: auto;} 
	
.table-bordered > tbody > tr > td {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right:0px !important;
	border-left:0px !important;
	/* padding:15px 25px  !important; */
	padding:18px 0px 18px 0px;
	color:#333c48;
	font-size:14px;
	white-space:normal;
/* 	overflow: inherit;
	text-overflow: inherit; */
	/* word-break: break-all; */
	}
    .nav > li > a{color:#7f8fa4;}
.table-bordered>tbody>tr>td:first-child{padding: 18px 0 13px 35px!important;}

.react-bs-table{margin:0px; border-radius: 0px; border-top: 1px solid #ddd; border-right:0px; border-left:0px; border-bottom:0px; display:inline-block; width: 100%;}
.react-bs-table-pagination { margin: 10px; padding-left: 12px;}
.react-bs-container-body .table-bordered > tbody > tr > td{margin-left:20px;}
 
.pagination {margin-right:18px !important;}
.pagination > li > a{padding: 2px 10px; line-height: 1.429; font-size: 18px;}

.dropdown.caret {color:#7f8fa4 !important;}
.dropup.caret {color:#7f8fa4 !important;}
.caret {color:#fff !important;}


.react-bs-table table td {
	overflow:inherit;
	white-space:nowrap;
	text-overflow:inherit;
    padding-left:10px !important;
}


@media (max-width:767px) {
.form-control{margin-top:20px; width:100% !important; margin-right:0px !important; }
.react-bs-container-body table{table-layout:auto;}

}